menu "Example Configuration"

    config EXAMPLE_UPDATE_BT_MAC_ADDRESS
        bool "Update BT Controller MAC address before init"
        default n
        help
            Temporarily update the co-processor BT controller MAC address
            before initializing the Hosted BT controller. The update reverts
            after reset.

    config EXAMPLE_BT_MAC_ADDRESS
        string "BT Controller MAC address"
        depends on EXAMPLE_UPDATE_BT_MAC_ADDRESS
        default "08:3A:8D:01:01:01"
        help
            Six-byte MAC address in XX:XX:XX:XX:XX:XX format.

endmenu
